.body-background 
{
    background-color: lightblue;
    background-position: center;
    background-size: cover;
	text-align: center;
}
#div1{
	background-color: white;
	border-radius: 20px;
	float: none;
	padding: 10px;
}
#div2{
	background-color: white;
	border-radius: 20px;
	float: none;
	padding: 10px;
}
h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
#input1{
	display: inline-blocks;
	width: 300px;
}
#input2{
	display: inline-blocks;
	width: 300px;
}
#player1name{
	color: black;
}